<div class="login-panel" *ngIf="actualizarPassword === false
&& mostrarRecuperacion === false; else operaciones">
  <form [formGroup]="loginform" autocomplete="off" novalidate role="form">
    <div class="panel panel-default">
      <div class="panel-heading espacio-top">
        <p class="titulo">Inicio de Sesión</p>
        <p class="subtitulo ">Completa los siguientes campos</p>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 espacio espacio-top">
          <app-campo-texto-gobmx
            [mensajeError]="
              loginform.controls.usuario?.errors?.required
                ? null
                : loginform.errors?.noValido
                ? 'El formato no es correcto'
                : null
            "
            [longitud]="50"
            [formGroup]="loginform"
            [id]="'usuario'"
            [tipo]="tipoCampo.CARACTERES_TEXTO"
            [placeholder]="'Usuario'"
            [etiqueta]="'Usuario'"
            [esObligatorio]="true"
            [soloMayusculas]="false"
            [mostrarError]="
              (loginform.errors?.noValido && !loginform.controls.usuario.pristine) ||
              validarCampo(loginform.controls.usuario)
            "
          >
          </app-campo-texto-gobmx>
        </div>

        <div class="col-xs-12 espacio">
          <app-campo-texto-gobmx
            [longitud]="8"
            [formGroup]="loginform"
            [id]="'password'"
            [tipo]="tipoCampo.PASSWORD"
            [placeholder]="'Ingresa tu número de empleado'"
            [etiqueta]="'Contraseña'"
            [esObligatorio]="true"
            [mostrarError]="validarCampo(loginform.controls.password)"
          >
          </app-campo-texto-gobmx>
        </div>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <a class="vinculo" (click)="doRecuperacion()">Recuperar contaseña</a>
          </div>
          <div class="col-xs-12 col-md-6">
            <button [disabled]="loginform.invalid"
              type="button"
              (click)="doLogin()"
              class="btn btn-primary btn-acceder"
            >
              Acceder
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #operaciones>
  <ng-container *ngIf="actualizarPassword; else recuperar">
    <app-cambio-password></app-cambio-password>
  </ng-container>
</ng-template>

<ng-template #recuperar>
  <app-recuperacion-password (reiniciarForm)="onReiniciarResponse($event)"></app-recuperacion-password>
</ng-template>
