@media all and (max-width: 912px) {
  .btn-acceder {
    width: 100%;
  }

  .captcha-div {
    transform: scale(0.7);
    transform-origin: 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
  }
}

.form-login-custom {
  border-radius: 10px;
  background-color: #fff;
}

.btn-acceder {
  min-width: 215px;
}

a.vinculo {
  background-color: transparent;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #12c;
  text-decoration: none;
  cursor: pointer;
}

.form-control {
  margin-bottom: 0px !important;
}

.espacio {
  margin-bottom: 15px;
}

.espacio-top {
  margin-top: 25px;
}

::ng-deep .form-group {
  margin-bottom: 0px !important;
}
