<nav class="navbar nav-registro ">
  <div class="container-fluid mat-elevation-z8">
    <div class="row">
      <div class="col-xs-12">
        <p class="nav-titulo"><b>Tipo de registro</b></p>
        <hr class="divisor">
      </div>
      <div class="col-xs-12">
        <div class="subnavbar-titulo">
          <div class="pull-left">
            <button mat-icon-button >
              <mat-icon>arrow_back</mat-icon>
              <span class="regresar">Regresar</span>
            </button>

          </div>
          <p class="nav-subtitulo">NOTIFICACIÓN DE AMPARO INDIRECTO</p>
        </div>

      </div>
    </div>
  </div>
</nav>

<div class="contenido-principal">
  <app-notificacion-main></app-notificacion-main>
</div>

<nav class="navbar nav-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="subnavbar-footer">
          <p class="nav-footer-text">Completa la información</p>
          <span class="pull-right"><button class="btn btn-primary footer-button">Registrar</button></span>
        </div>
      </div>
    </div>
  </div>
</nav>
