<div class="row ">
    <div class="col-xs-12">
        <span>
            <p>Al ser tu primer ingreso necesitas cambiar tu contraseña. Ingresa la nueva contraseña.</p>
        </span>
    </div>

    <form [formGroup]="actualizacionform" autocomplete="off" novalidate role="form">
        <div class="col-xs-12 col-md-8 espacio">
            <div class="form-group ">
                <label class="control-label" for="password">Nueva Contraseña<span>*</span>:</label>
                <input type="password" formControlName="password" class="form-control " id="password" name="password"
                    [ngClass]=" {'border-validate': actualizacionform.controls.password?.errors && isSubmited}"
                    placeholder="Ingresa tu contraseña" required />
                <span-campo-obligatorio *ngIf="actualizacionform.controls.password?.errors?.required && isSubmited">
                </span-campo-obligatorio>
                <span-error [msgError]="'La contraseña debe ser de al menos 5 caracteres'"
                *ngIf="actualizacionform.controls.password?.errors?.minlength && isSubmited"
                ></span-error>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 col-offset-md-4 espacio">
            <div class="form-group ">
                <label class="control-label" for="confirmar-password">Repite la nueva contraseña<span>*</span>:</label>
                <input type="password" formControlName="confirmacion" class="form-control " id="confirmar-password"
                name="confirmar-password"
                    [ngClass]=" {'border-validate': (actualizacionform.errors || actualizacionform.controls.confirmacion?.errors) && isSubmited}"
                    placeholder="Ingresa tu contraseña" required />
                <span-campo-obligatorio *ngIf="!actualizacionform.errors && actualizacionform.controls.confirmacion?.errors?.required && isSubmited">
                </span-campo-obligatorio>
                <span-error [msgError]="'Las contraseñas no coinciden, favor de verificar'"
                *ngIf="actualizacionform.errors?.sonDistintos && isSubmited"
                ></span-error>
            </div>
        </div>


        <div class="col-xs-12 col-md-6">
            <span>*Campos obligatorios</span>
        </div>
        <div class="col-xs-12 col-md-6">
            <button type="button" (click)="doActualizacion()"
                class="pull-right btn btn-primary">Continuar</button>
        </div>
    </form>
</div>
