<div class="login-panel">
  <form
    [formGroup]="actualizacionform"
    autocomplete="off"
    novalidate
    role="form"
  >
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="titulo espacio-top">Recuperación de contraseña</p>
        <p class="subtitulo">Completa los siguientes campos</p>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 ">
          <app-campo-texto-gobmx
            [longitud]="8"
            [formGroup]="actualizacionform"
            [id]="'password'"
            [tipo]="tipoCampo.PASSWORD"
            [placeholder]="'Ingresa tu Nueva Contraseña'"
            [etiqueta]="'Nueva Contraseña'"
            [esObligatorio]="true"
            [mostrarError]="
              actualizacionform.controls.password?.errors && isSubmited
            "
            [mensajeError]="
              actualizacionform.controls.password?.errors?.required
                ? null
                : actualizacionform.controls.password?.errors?.minlength
                ? 'Mínimo 8 caracteres alfanuméricos'
                : actualizacionform.controls.password?.errors?.pattern ?
                'La contraseña no cumple con los criterios' : null
            "
          >
          </app-campo-texto-gobmx>
        </div>

        <div class="col-xs-12 espacio">
          <app-campo-texto-gobmx
            [longitud]="8"
            [formGroup]="actualizacionform"
            [id]="'confirmacion'"
            [tipo]="tipoCampo.PASSWORD"
            [placeholder]="'Ingresa tu contraseña'"
            [etiqueta]="'Repite la nueva contraseña'"
            [esObligatorio]="true"
            [mostrarError]="
              (actualizacionform.controls.confirmacion?.errors ||
                actualizacionform.errors?.sonDistintos) &&
              isSubmited
            "
            [mensajeError]="
              actualizacionform.controls.confirmacion?.errors?.required
                ? null
                : actualizacionform.errors?.sonDistintos
                ? 'No coinciden las contraseñas'
                : null
            "
          >
          </app-campo-texto-gobmx>
        </div>

        <div class="col-xs-12">
          <p class="normal">
            Tu contraseña debe de cumplir con los siguientes criterios:
          </p>
          <ul>
            <li>Mínimo 8 caracteres</li>
            <li>1 Mayúscula</li>
            <li>1 Número</li>
            <li>1 Minúscula</li>
          </ul>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button
              type="button"
              (click)="doActualizacion()"
              class="pull-right btn btn-primary btn-acceder"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
