<div class="login-panel">
  <form [formGroup]="recoveryform" autocomplete="off" novalidate role="form">
    <div class="panel panel-default" >
      <div class="panel-heading espacio-top">
        <p class="titulo">Recuperación de contraseña</p>
        <p class="subtitulo" *ngIf="isSubmited === false">Necesitamos solamente el usuario asociado a la cuenta de correo electrónico.</p>
      </div>

      <div class="panel-body" *ngIf="isSubmited === false; else msgenviado">
        <div class="col-xs-12 espacio-top">
          <app-campo-texto-gobmx
            [mensajeError]="
              recoveryform.controls.usuario?.errors?.required
                ? null
                : recoveryform.errors?.noValido
                ? 'Usuario invalido'
                : null
            "
            [longitud]="50"
            [formGroup]="recoveryform"
            [id]="'usuario'"
            [tipo]="tipoCampo.CARACTERES_TEXTO"
            [placeholder]="'Usuario'"
            [etiqueta]="'Usuario'"
            [esObligatorio]="true"
            [soloMayusculas]="false"
            [mostrarError]="
              (recoveryform.errors?.noValido && !recoveryform.controls.usuario.pristine) ||
              validarCampo(recoveryform.controls.usuario)
            "
          >
          </app-campo-texto-gobmx>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <a class="vinculo" (click)="goLogin()" >Inicio de sesión</a>
          </div>
          <div class="col-xs-12 col-md-6">
            <button *ngIf="isSubmited === false" [disabled]="recoveryform.invalid"
              type="button" (click)="doEnvio()"
              class="btn btn-primary btn-acceder"
            >
              Enviar
            </button>

            <button *ngIf="isSubmited" [disabled]="recoveryform.invalid"
              type="button" (click)="doReenvio()"
              class="btn btn-primary btn-acceder" [disabled]="!isTimerFinalizado"
            >
            Reenviar correo en {{ segundos }} segundos
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #msgenviado>
  <div class="panel-body">
    <div class="col-xs-12 espacio-top">
      <div class="msg-exitoso">
        <div class="borde1 espacio">
        </div>
        <p class="msg">Solicitud exitosa</p>
        <p class="texto-msg">Hemos enviado un correo a:
          {{email}}
          para restablecer la contraseña.</p>
      </div>
    </div>
  </div>
</ng-template>
